@using ETicaretSitesi.Models
<footer class="footer-area bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- Logo & Contact -->
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img src="~/Content/images/amblem2.jpg" alt="Hisshop eCommerce">
                    </div>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Yeniköy Merkez, Ilıca Cd. No:29, 41275 Başiskele/Kocaeli</a></li>
                        <li><a href="#" class="text-white">HiSShop@company.com</a></li>
                        <li><a href="tel:0100200340" class="text-white">0850 450 2828</a></li>
                    </ul>
                </div>
            </div>
            <!-- Shopping & Categories -->
            <div class="col-lg-3">
                <h4>Shopping &amp; Categories</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Men’s Shopping</a></li>
                    <li><a href="#" class="text-white">Women’s Shopping</a></li>
                    <li><a href="#" class="text-white">Kid's Shopping</a></li>
                </ul>
            </div>
            <!-- Useful Links -->
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul class="list-unstyled">
                    <li><a asp-controller="Home" asp-action="Index" class="text-white">Homepage</a></li>
                    <li><a asp-controller="Home" asp-action="About" class="text-white">About Us</a></li>
                    <li><a href="#" class="text-white">Help</a></li>
                    <li><a asp-controller="Home" asp-action="Contact" class="text-white">Contact Us</a></li>
                </ul>
            </div>
            <!-- Help & Information -->
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Help</a></li>
                    <li><a href="#" class="text-white">FAQ's</a></li>
                    <li><a href="#" class="text-white">Shipping</a></li>
                    <li><a href="#" class="text-white">Tracking ID</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
